<h1 class="title-home">Home</h1>
<div class="pages">
    <div class="show-pages">
    {{#if info.hasPrevPage}}
    <a href={{info.prevLink}} class="prev-page">Anterior</a>
    {{/if}}
    <span class="this-page"> {{info.page}}</span>
    {{#if info.hasNextPage}}
    <a href={{info.nextLink}} class="next-page">Siguiente</a>
    {{/if}}
</div>
</div>


<div id="products" class="products">
    {{#each docs }}
    <div class="product">
        <h3 class="name-product">{{ this.title }}</h3>
        <p class="desc-product">{{ this.description }}</p>
        <span class="precio-product">{{ this.price }}</span>
        <button onclick="addtoCart({{ this._id }})" class="addbutton">Agregar al carrito</button>
    </div>
    {{/each}}
</div>